@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-primary: #fc8a06;
  --background-secondry: #fcfcfc;
  --background-third: #03081f;
  --background-fourth: #d9d9d9;
  --background-five: #f5f5f5;
  --background-sixth: #028643;
  --text-primary: #171717;
  --text-secondry: #fc8a06;
  --text-third: #fcfcfc;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* layout */
.layout {
  @apply px-10 select-none;
}
/* layout */


@media (max-width: 649px) and (min-width: 180px) {
  .layout {
    @apply px-0 select-none;
  }
}