@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-primary: #fc8a06;
  --background-secondry: #fcfcfc;
  --background-third: #03081f;
  --background-fourth: #d9d9d9;
  --text-primary: #171717;
  --text-secondry: #fc8a06;
  --text-third: #fcfcfc;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.layout {
  @apply px-10 select-none;
}
/* navbar */
.navbar {
  @apply w-full flex items-center justify-between bg-[var(--background-secondry)] pl-5 rounded-b-md border-b-[1px] border-l-2 border-gray-200;
}
.offer-line-navbar,
.location-line-navbar {
  @apply flex items-center gap-3;
}
.promomo-code-navbar,
.location-btn-navbar {
  @apply text-[var(--text-secondry)] underline cursor-pointer;
}
.wallet-line-navbar {
  @apply px-2  flex items-center gap-2 w-fit rounded-b-md bg-[var(--background-third)];
}
.wallet-line-cont,
.wallet-line-cont2 {
  @apply flex items-center p-2 text-[var(--text-third)] text-lg gap-1;
}
.wallet-line-cont {
  @apply border-r-[1px] border-white;
}
/* navbar */

/* Header */
.header {
  @apply flex items-center gap-4 justify-between w-full py-4;
}
.tabs-Box {
  @apply flex items-center justify-between gap-5;
}
.tabs {
  @apply flex items-center gap-5 text-[var(--text-primary)];
}
.reg-log-btn {
  @apply flex items-center gap-2 bg-[var(--background-third)] text-white px-3 py-2 rounded-full cursor-pointer;
}
.reg-log-btn svg {
  @apply text-[var(--text-secondry)];
}
/* Header */

/* footer */
.footer {
  @apply w-full select-none pt-4;
}
.tabs-action_btn-box {
  @apply bg-[var(--background-fourth)] py-5 px-10 flex items-start gap-5 justify-between w-full;
}
.logo-info-about {
  @apply flex items-start gap-1 flex-col;
}
.tabs-action-subscription {
  @apply flex items-start gap-10;
}
.mobile-stors-icon {
  @apply flex items-center gap-1 py-2;
}
.mobile-stors-icon img {
  @apply w-24 h-auto;
}
.copyright-line {
  @apply bg-[var(--background-third)] text-[var(--text-third)] py-3 px-10 w-full text-sm flex items-center justify-between;
}
.footer-tabs {
  @apply flex items-center gap-5;
}
.footer-tabs-box {
  @apply flex flex-col items-start gap-3;
}
.footer-tabs-box a {
  @apply underline;
}
.social-icons-footer {
  @apply text-3xl flex items-center gap-3 py-2 px-4;
}
.subscription-footer-form {
  @apply relative;
}
.subscription-footer-form input {
  @apply bg-gray-300 border-2 border-gray-300 py-2 pl-4 pr-8 w-[200px] outline-none rounded-full border-r-0;
}
.subscription-footer-form button {
  @apply bg-[var(--background-primary)] text-[var(--text-third)] py-2 px-4 rounded-full absolute right-3 top-[10px];
}
/* footer */

/* Home-banner */
.home-banner {
  @apply w-full h-[65vh] bg-[var(--background-secondry)] border-[1px] border-gray-200 rounded-md pl-5 flex items-center justify-start relative overflow-hidden;
}
.home-banner-search-form {
  @apply relative flex items-center pt-2;
}
.home-banner-search-form input {
  @apply outline-none w-[210px] pl-4 pr-6 py-2 bg-white rounded-full border-2 border-gray-200 border-r-0;
}
.home-banner-search-form button {
  @apply bg-[var(--background-primary)] text-[var(--text-third)] py-2 px-6 rounded-full absolute right-12 top-[10px];
}
.banner-home-heading-one,
.banner-home-heading-two {
  @apply text-[30px] font-bold select-text cursor-context-menu;
}
.banner-home-heading-two {
  @apply text-[var(--text-secondry)];
}
.banner-home-heading-one::selection {
  @apply bg-black text-white;
}
.banner-home-heading-two::selection {
  @apply bg-[var(--background-primary)] text-white;
}
/* Home-banner */

/* Deals-header-box */
.deals-box-header {
  @apply flex items-center justify-between px-2 py-4;
}
.deals-tabs-btns {
  @apply flex items-center justify-end gap-4 flex-wrap;
}
.deals-tabs-btn {
  @apply px-6 py-1 rounded-full border-[1px] border-white;
}
.deals-tabs-btn-active {
  @apply border-[1px] border-[var(--text-secondry)] text-[var(--text-secondry)] px-6 py-1 rounded-full;
}
.deals-food-cards{
  @apply flex items-center gap-12 justify-center w-full flex-wrap;
}
.deals-card{
  @apply flex items-center justify-center w-[30%] relative rounded-lg overflow-hidden;
}
.text-box-deals-card{
  @apply absolute w-full flex flex-col justify-end h-full items-start right-0 top-0 p-4;
  background: linear-gradient(245.7deg, rgba(255, 255, 255, 0) 0.94%, rgba(3, 8, 31, 0.19) 51.68%, rgba(3, 8, 31, 0.89) 87.9%);
}
.deals-card-title{
  @apply text-[var(--text-secondry)];
}
.deals-card-company{
  @apply text-white;
}
.delas-card-badge{
  @apply absolute top-0 right-5 px-2 pt-3 pb-2 bg-[var(--background-third)] rounded-b-md text-white text-[12px];
}
/* Deals-header-box */

/* popular Categories */
.popular-categories-cards-box{
  @apply w-full flex items-center justify-center gap-8 py-4 flex-wrap;
}
.Popular-category-box{
  @apply py-4;
}
.Popular-Categories-Card{
  @apply w-[180px] bg-[#f5f5f5] rounded-lg;
}
.Popular-Categories-Card img{
  @apply w-full;
}
.detail-box-Popular-Categories-Card{
  @apply p-2 flex flex-col;
}
.detail-box-Popular-Categories-Card b{
  @apply text-sm;
}
.detail-box-Popular-Categories-Card p{
  @apply text-[var(--text-secondry)] text-[12px];
}
/* popular Categories */

/* Popular Restaurants */
.Popular-Restaurants-Card-box{
  @apply flex items-center justify-center w-full gap-8 py-4 flex-wrap;
}
.Popular-Restaurants-Card{
  @apply flex flex-col w-[180px] bg-[var(--background-primary)] rounded-xl;
}
.Popular-Restaurants-Card b{
  @apply px-2 pb-2 pt-3 text-white text-sm;
} 
/* Popular Restaurants */